DBUSER = "root"
DBPASS = ""
DBHOST = "localhost"
DBPORT = "3306"
DBNAME = "e_commerce"

JWT_KEY = "e commerce"

# Cloudinary
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
CLOUDINARY_UPLOAD_FOLDER = 

# Midtrans  
MERCHANT_ID = 
CLIENT_ID = 
SERVER_KEY = 